.attribute-item{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute-item__text{
    display: inline-block;
    width: 100%;
}

.item-button{
    opacity: 0;
    padding: 6px;
}

.attribute-item:hover .attribute-item__button{
    transition: opacity .2s;
    opacity: 1;
}